# Gradle
/*.tmp

/build/*
!/build/reports

/build/reports/*
!/build/reports/jacoco

/build/reports/jacoco/*
!/build/reports/jacoco/test

/build/reports/jacoco/test/*
!/build/reports/jacoco/test/html

/.gradle/
/.nb-gradle/

# Others
.directory
.syntastic*
/bin/
